<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>T</title>
    <meta charset="utf-8" name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>用户</title>
    <link rel="stylesheet" href="https://cdn.90so.net/layui/2.5.1/css/layui.css" media="all">
    <script src="https://cdn.90so.net/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/layer/2.3/skin/layer.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
    <script src="https://cdn.90so.net/layui/2.5.1/layui.all.js"></script>

</head>
<body>

<form class="layui-from-item" id="userform" method="post">
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label"></label>
        <div class="layui-input-block">
            <input type="hidden" name="title" id="id" required lay-verify="required" placeholder=""
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">用户名：</label>
        <div class="layui-input-block">
            <input type="text" name="title" id="userName" required lay-verify="required" placeholder="请输入用户名"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">年龄：</label>
        <div class="layui-input-block">
            <input type="text" name="title" id="age" required lay-verify="required" placeholder="请输入年龄"
                   autocomplete="off" class="layui-input">

        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">电话号码：</label>
        <div class="layui-input-block">
            <input type="text" name="title" id="phoneNumber" required lay-verify="required" placeholder="请输入电话号码"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formData">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>


</body>
<script th:src="@{/js/modifyform.js}"></script>
</html>